<div class="pull left">
	<ul>
		<li>Line 1</li>
		<li>Line 2</li>
		<li>Line 3</li>
		<li>Line 4</li>						
		<li>Line 5</li>	
	</ul>
</div>

<div class="pull right">
	<form method="get" action="/poem">
	<button type="submit" class="btn btn-default" >CREATE YOUR OWN!</button>
	</form>
</div>