<div class="display poem">
	<ul>
	<% @poem.each do |tweet| %>
		<li>
		<a href="<%= tweet.tweet.tweet_status_url %>">
		<%= tweet.tweet.text %>
		</a>
		<h6><a href="https://twitter.com/<%= tweet.tweet.twitter_handle.handle %>"><%= tweet.tweet.twitter_handle.handle %></a></h6>
		</li>
	<% end %>
	</ul>	
</div>
