<h1>Submit a Twitter handle</h1>

<form action="/twitter_handles" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="twitter_handle[handle]">
	<input type="submit">
</form>
