body {
	background-color: #F5F5F5;
}

.navbar-default {
	background-color: #68BEAA; 
}

.navbar-fixed-bottom {
	background-color: #d3d3d3;
	text-align: center;
	padding-top: 10px;
}

small {
	color: #969696;
}

a.title-link
 {
	color: rgba(255, 255, 255, .65);
	font-size: 32px;
	font-family: 'Lobster', cursive;
	padding-left: 5px;
	letter-spacing: 1px;
}

a.title-link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.sign-up,
.sign-in {
	color: rgba(255, 255, 255, .65);
	background-color: #68BEAA;
	border: none;
	letter-spacing: 0.5px;
}

.sign-up:hover, 
.sign-in:hover {
	color: #FFFFFF;
}

ul {
	list-style: none;
}

a.poem-line {
	color: #969696;
/*	color: #68BEAA;*/
	font-size: 28px;

}

a.twitter-handle-link {
	color: #707070;
	margin-left: 15px;
}

.btn-default {
	margin-top: 14px;
}

.form-control {
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel-default {
	width: 300px;
	height: 50px;
	font-size: 18px;
	text-align: center;
}

#handle-submit {
	height: 40px;
}

.link-below {
	color: #68BEAA;
	font-size: 20px;
	padding: 20px;
	font-weight: 700;
	letter-spacing: .75px;
}

.create-poem-link{
	color: #68BEAA;
	font-size: 28px;
	font-weight: 700;
	margin-top: 50px;	
	margin-left: 35px;
}

.create-poem-link:hover {
	color: #5dab99;
}

.like-btn {
	background-color: #F5F5F5;
	color: #323232;
	margin-left: 40px;
	border: none;
	padding: 1px;
}

.like-btn:hover{
	color: #FF0000;
}

button.btn.btn-link {
	color: rgba(255, 255, 255, .65);
	background-color: #68BEAA;
	border: none;
	letter-spacing: 0.5px;
}

button.btn.btn-link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a {
	color: rgba(255, 255, 255, .65);
	background-color: #68BEAA;
	border: none;
	letter-spacing: 0.5px;	
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FFFFFF;
	background-color: #68BEAA;
}


.edit-form,
.display-likes {
	padding: 10px;
}

.fav-poem-link {
	color: #68BEAA;
	font-size: 26px;
	font-weight: 500;
	margin-top: 50px;	
}

.jumbotron {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    height: 450px;
}

h1 {
	padding: 15px;
}



/*				.nav .btn-link, 
				.nav a, 
				form.navbar-form.navbar-right
				{
				/*	color: #c2e5dd;*/
/*					color: rgba(255, 255, 255, .65);
					background-color: #68BEAA;
					border: none;
				}

				.nav .btn-link:hover, 
				.nav a:hover,
				form.navbar-form.navbar-right:hover {
					background-color: #68BEAA;
					color: #e0f2ee;
				}*/

/*.navbar-default .navbar-nav>li>a {
	background-color: #68BEAA;
	color: rgba(255, 255, 255, .65);
}*/
/*form.navbar-form.navbar-right*/

/*.pull.left {
	border: solid black;
	display: inline-block;
	padding: 5px;
}

.display.poem {
	margin-top: 30px;
}


ul {
	list-style: none;
	margin-right: 15px;
	margin-bottom: 30px;
}

li {
	line-height: 10px;
}*/



/*

.remember_me {
	margin-top: 10px;
}

.form-control {
	width: 175px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 10px;
}

#update-button {
	width: 175px;
}

a.create-poem-button {
	background-color: f9fc7e;
}

.btn.btn-lg.btn-primary.btn-block {
	width: 175px;
	margin-top: 20px;
	margin-bottom: 10px;
}*/
/*
.edit-form {
	float: left;
	margin-left: 20px;
}

.display-likes {
	float: right;
	margin-left: 20px;
	margin-right: 60px;
}

.fav-poem-link {
	font-size: 18px;
	line-height: 25px;
}

.custom-h3 {
	color: #969696;
	background-color: #f9fc7e;
}*/

/*.like-btn {
	background-color: #eeeeee;
	color: #323232;
	margin-left: 40px;
	border: none;
	padding: 1px;
}

.handle {
	font-size: 14px;
	margin-left: 16px;
}

.line-tweet {
	color: #323232;
}

.navbar-fixed-bottom {
	background-color: #d3d3d3;
	text-align: center;
	color: #969696;
}*/
